.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
}

.container {
justify-content: center;
}

.paper {
  text-align: center;
  max-width: 60%;
}

.stepper {
  margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}