html {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  margin: 0;
}

.result {
  margin-top: 20px !important;
}

.paper {
  text-align: center;
  overflow: auto;
  justify-content: space-between;
  padding: 0 24px 24px 24px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}

.typography {
  margin-bottom: 10px !important;
}

.headingTypography {
  display: flex;
  line-height: 1.5em !important;
  padding: 0 10px !important;
}

.paddingTop0 {
  padding-top: 0;
}

.icon {
  height: 64px;
  width: 64px;
}

.mobileTooltip {
  margin-bottom: 10px !important;
  font-size: 0.85rem !important;
}

.copyright {
  font-size: 0.85rem !important;
}

.link {
  text-decoration: none;
  color: #303F9F;
}


#noMargin {
  margin-bottom: 0 !important;
}


.button {
  padding: 0 7px !important;
}

.marginLeft10 {
  margin-left: 10px;
}

.marginTop{
  margin-top: 5px !important;
}

@media only screen and (max-width: 600px) {
  .paper {
    height: 100vh;
  }

  .icon {
    padding: 10px 0;
    width: 85px;
    height: 85px;
  }

  .headingTypography {
    flex: 1;
  }

  .mobileTooltip {
    font-size: 0.75rem;
  }

  .marginTopMobile {
    margin-top: 5px !important;
  }
}

/* .adSense {
  display: flex;
  flex: 1;
  background-color: blueviolet;
}

.commercial {
  height: 100%;
  background-color: blueviolet;
} */